

<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <system.webServer>
 <webSocket enabled="false" />
 <rewrite>
  <rules>
    <rule name="StaticContent">
      <action type="Rewrite" url="build{PATH_INFO}" />
    </rule>
    <rule name="DynamicContent">
      <match url="/api/*" />
      <action type="Rewrite" url="http://daycaremanagerserver.azurewebsites.net/"/>
    </rule>
  </rules>
 </rewrite>
 </system.webServer>
</configuration>